:host {
  display: block;
}
h2 {
  font-size: var(--text-lg);
}
:host > * + * {
  margin-block-start: var(--space-4);
}
.actions {
  display: flex;
  flex-wrap: wrap;
  gap: var(--space-3);
  align-items: center;
}
